name: GitHub Actions Maven Build Example
on:
   push:
    branches: [main]
jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1 - Checkout main branch from GitHub 
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Step 2 - Set up JDK 20
        uses: actions/setup-java@v2
        with:
          java-version: 20
          distribution: 'adopt'
      - name: Step 3 - Build Maven Project
        run: mvn --batch-mode clean install package -DskipTests  
      - name: Step 4 - run test cases and generate JaCoCo report
        run: mvn --batch-mode -Dmaven.test.failure.ignore=true test -Dtest=RunCucumber,StartTest jacoco:report
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=Organization-X0_Car-Accessories 
